.card_body{
    width: 350px;
    height: 200px;
    background-color: rgb(241, 241, 241);
    color: white;
    border-radius: 25px;
    padding: 30px;
    background-image: url('../../assets/images/card-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}